style
* {
    box-sizing: border-box
}
body {
    background-color: #001437;
}

.navigationBar {
    background-color: #5ce5d5;

}

.jumbotron {
   background-color: #7898fb;
    height: 400px;
    min-height: 400px;
}

.navbar-brand{
    font-family: 'Brush Script MT';
    font-size: 25px;
}
.profile {
    height: 250px;
    width: 400px;
    background-color: #003153;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    height: 200px;
    margin: 0px;
    padding: 0px;
    background-color: #003153;
}

.bottom {
    background-color: #5ce5d5;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    z-index: 1;
    margin-top: 87px;
}
.intro {
    width: 250px;
    height: 250px;
    margin-left: 250px;
    margin-right: auto;
    background-color: #001437;
}

.proPic {
    width: 250px;
    height: 250px;
    margin-left: 0;
    margin-right: auto;
    margin-top: -250px;
    background-size: cover;
    background-image: url("propic.jpg");
}

.about {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Arial Rounded MT';
    margin-top: 100px;
}

.about, .skills, .portfolio, .contact {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Arial Rounded MT';
    margin-top: 60px;
}

.about_box {
    text-align: center;
    background-color: #7898fb;
}

.bars {
    margin-top: 20px;
}

.myProgress {
    background-color: #344E5C;
    width: 400px;
    margin: auto;
}

#myBar1, #myBar2, #myBar3, #myBar4, #myBar5, #myBar6, #myBar7, #myBar8, #myBar9, #myBar10 {
    width: 1%;
    height: 40px;
    background-color: #5ce5d5;
}

h1 {
    margin-left: 10px;
    float: left;
    font-size: 30px;
}

.line {
    border: 2px solid white;
    width: 300px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5ce5d5;
    height: 20px;
    line-height: 20px;
}
